{% block title %}Smlouvy - Klientský portál{% endblock %}
{% block headline %}Smlouvy - Klientský portál{% endblock %}

{% block content %}
<section class="contracts py-3">
    <h3>Vaše smlouvy</h3>
    <div class="contracts-header d-flex bg-light py-1">
        <a class="btn btn-primary" href="/portal/new/contract"><i class="bi bi-plus-lg"></i> Vytvořit novou</a>
    </div>
    {% for contract in contracts %}
    <div class="contract card my-2">
        <div class="card-header contract-card-header d-flex justify-content-between" id="collapseHeader" data-bs-toggle="collapse" data-bs-target="#collapseContent{{ loop.index }}" aria-controls="collapseContent{{ loop.index }}">
            <span class="btn btn-link" type="button"
                aria-expanded="false">
                <b>{{ contract.type }}</b> ({{ contract.vehicle.brand }} {{ contract.vehicle.model }})
            </span>
            
        </div>
        <div id="collapseContent{{ loop.index }}" class="collapse" aria-labelledby="collapseHeader">
            <div class="card-body">
                <h5 class="card-title mb-3">Údaje smlouvy:</h5>
                <p class="card-text"><b>Typ:</b> {{ contract.type }}</p>
                <p class="card-text"><b>Cena:</b> {{ contract.price }} kč/rok</p>
                <p class="card-text"><b>Stav:</b> {{ contract.payment_state }}</p>
                <p class="card-text"><b>Platnost od:</b> {{ contract.valid_from }}</p>
                <p class="card-text"><b>Platnost do:</b> {{ contract.valid_to }}</p>
                <h5 class="card-title mb-3 mt-4">Smlouva k vozidlu:</h5>
                <p class="card-text"><b>Značka:</b> {{ contract.vehicle.brand }}</p>
                <p class="card-text"><b>Model:</b> {{ contract.vehicle.model }}</p>
                <p class="card-text"><b>VIN:</b> {{ contract.vehicle.vin }}</p>
                <p class="card-text"><b>SPZ:</b> {{ contract.vehicle.spz }}</p>
                <a href="/portal/vehicles" class="btn btn-primary">Zobrazit vozidlo</a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}