{% block title %}Vozidla - Klientský portál{% endblock %}
{% block headline %}Vozidla - Klientský portál{% endblock %}

{% block content %}
<section class="contracts py-3">
    <h3>Vaše vozidla</h3>
    <div class="contracts-header d-flex bg-light py-1">
        <a class="btn btn-primary" href="/portal/new/contract"><i class="bi bi-plus-lg"></i> Přidat nové</a>
    </div>
    {% for vehicle in vehicles %}
    <div class="contract card my-2">
        <div class="card-header contract-card-header d-flex justify-content-between" id="collapseHeader" data-bs-toggle="collapse" data-bs-target="#collapseContent{{ loop.index }}"
                aria-expanded="false" aria-controls="collapseContent{{ loop.index }}">
            <span class="btn btn-link" type="button">
                <b>{{ vehicle.brand }} {{ vehicle.model }}</b>
            </span>
        </div>
        <div id="collapseContent{{ loop.index }}" class="collapse" aria-labelledby="collapseHeader">
            <div class="card-body">
                <p class="card-text"><b>VIN:</b> {{ vehicle.vin }}</p>
                <p class="card-text"><b>SPZ:</b> {{ vehicle.spz }}</p>
                <p class="card-text"><b>Datum registrace:</b> {{ vehicle.registration_date }}</p>
                <p class="card-text"><b>Datum výroby:</b> {{ vehicle.manufacture_year }}</p>
                <p class="card-text"><b>Objem:</b> {{ vehicle.engine_capacity }} ccm</p>
                <p class="card-text"><b>Výkon:</b> {{ vehicle.engine_power }} kw</p>
                <p class="card-text"><b>Palivo:</b> {{ vehicle.fuel_type }}</p>
                <p class="card-text"><b>Fotografie:</b></p>
                <div class="image-gallery">
                <div class="d-flex flex-wrap gap-2">
                    {% for image in vehicle.images|replace({'["': '' , '"]': ''})|split('","') %}
                        <img
                        src="/public/{{ image }}"
                        class="img-fluid mb-4"
                        alt="{{ vehicle.brand }} {{ vehicle.model }}"
                        />
                     {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}